@page "/forest"

<link href="/css/styles.css" rel="stylesheet" type="text/css">

<h1>Hello @_name</h1>
<h3>Forest</h3>

<img alt="Forest" src="/Images/forest.jpg" />

@code{
    private readonly string _name = "Username";
}