@page "/tree"

<link href="/css/styles.css" rel="stylesheet" type="text/css">

<h1>Hello @_name</h1>
<h3>Tree</h3>

<img alt="Forest" src="/Images/tree_1.jpg" />

@code{
    private readonly string _name = "Username";
}