@page "/attributeParent"
@using BlazorServerApp.Components.Attribute

<link href="/css/styles.css" rel="stylesheet" type="text/css">
<h1>@Header</h1>
<Child Header="Attribute child page" @attributes="InputAttributes" >
</Child>

@code{
    public string Header = "Parent page";
    public Dictionary<string, object> InputAttributes { get; set; } =
        new Dictionary<string, object>()
        {
            {"type", "number" },
            { "min", "1" },
            { "max", "99" },
            { "placeholder", "Input age" },
            { "style", "width:150px;" }
        };
}
